body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdea; /* Updated background color to a light yellow */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#todo-list {
    background-color: #fff9c4; /* Updated background color to a pale yellow */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

h2 {
    color: #000000; /* Updated title color to yellow */
    background-color: #fbc02d; /* Updated header background color */
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffca28; /* Updated input border color to yellow */
    outline: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #ffca28; /* Updated button background color to yellow */
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffb300; /* Updated button hover color to a darker yellow */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ffe082; /* Updated list item border color to a lighter yellow */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #fff59d; /* Updated list item hover color to a light yellow */
}

button.remove-btn {
    background-color: #f57f17; /* Updated remove button color to a darker yellow */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.remove-btn:hover {
    background-color: #e65100; /* Updated remove button hover color to a darker orange */
}
