body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#todo-list {
    background-color: #fff9c4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

h2 {
    color: #000000;
    background-color: #fbc02d;
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffca28;
    outline: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #ffca28;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffb300;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ffe082;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    word-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:hover {
    background-color: #fff59d;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

button.remove-btn {
    background-color: #f57f17;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.remove-btn:hover {
    background-color: #e65100;
}
